<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Jade_Bird_Ciname_Booking_System.Printer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Jade_Bird_Ciname_Booking_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Jade_Bird_Ciname_Booking_System.Printer>
            <setting name="DefaultPrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="XPosition" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="YPosition" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Landscape" serializeAs="String">
                <value>False</value>
            </setting>
        </Jade_Bird_Ciname_Booking_System.Printer>
        <Jade_Bird_Ciname_Booking_System.Properties.Settings>
            <setting name="TicketTitle" serializeAs="String">
                <value>青鸟影院</value>
            </setting>
            <setting name="Discount" serializeAs="String">
                <value>7</value>
            </setting>
        </Jade_Bird_Ciname_Booking_System.Properties.Settings>
    </userSettings>
</configuration>
